%boton{
    background-color: red;
    width: 270px;
    height: 50px;
    border: none;
    border-radius: 30px;
    margin-top: 100px;
    transition: 0.4s;
    a{
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
}