.center{
    margin-top: 100px;
    margin-bottom: 50px;
}
.h1-1{
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.card{
    margin: 100px;
    transition: 0.5s;
    width: 300px;
    &:hover{
        -webkit-box-shadow: 5px 5px 15px 5px #000000; 
        box-shadow: 5px 5px 15px 5px #000000;
    }
}
.boton{
    background-color: red;
    width: 270px;
    height: 50px;
    border: none;
    border-radius: 30px;
    margin-top: 100px;
    transition: 0.4s;
    a{
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
    &:hover{
        background-color: #000000;
    }
}
.promo{
    width: 500px auto;
    height: 300px;
    margin-top: 100px;
}
.img-clientes{
    margin-top: 100px;
}
.main-contacto{
    background-color: #dcdcdc;
    .caja{
        width: 400px;
        height: 500px;
        background-color: #00000096;
        color: white;
        padding: 20px;
        h4{
            margin-bottom: 50px;
        }
        p{
            margin-bottom: 50px;
        }
        ul li {
            list-style: none;
            text-decoration: none;
           
        }
        h4{
            color: #6ec1e4;
        }  
        ul li i{
            padding-right: 10px;
        }
    }   
}